<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
<main class="main-form">
<form action="/products/edit/<%= productToEdit.id %>?_method=PUT" method="POST" class="create-form">

<div class="title-form">
    <h1>Modificar Producto</h1>
</div>
<div class="form-desktop">
<div class="control-form">
    <label for="name">Nombre de producto:</label>
    <input type="text" id="name" name="name" class="control" value="<%= productToEdit.name %>">
</div>
<div class="control-form">
    <label for="price">Precio:</label>
    <input type="text" id="price" name="price" class="control"value="<%= productToEdit.price %>">
</div>
<div class="control-form">
    <label for="description">Descripcion</label>
    <input type="text" id="description" name="description" class="control" value="<%= productToEdit.description %>">
</div>
<div class="control-form">
    <label for="discount">Oferta</label>
    <input type="text" name="discount" class="control" value="<%= productToEdit.discount %>">
</div>
<div>
    <br>
    <label for="category" class="form-label">Categoría:</label>
    <select name="category" id="category" class="form-input">
        <option value="">Elegí</option>
        <option value="in-sale">En oferta</option>
        <option value="visited">Últimos agregados</option>
    </select>
</div>
<button type="reset" class="button-form">Eliminar Todos</button>
<button type="submit" class="button-form">Modificar</button>
</div>
</form>

</main>
</body>
</html>